---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/330068
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjJkMDg0ZTBiMjJlNGNhZTZiYTUwNTA4YzU2MmUwNyIsInN1YiI6IjY1NjRkZWNlZDk1NTRiMDEzYWYyZjIwMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.F15rqbrDY3vz4g1F9BHHdPGdyOjkGfBpjuf4w5E-dSY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 21c472d649479995e58c7324472ca60d
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '26717'
      Etag:
      - W/"ef90b6fc083f285d2f34090ebe5d2e8b"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/wvBuXgA77FaCVKy2iejr4wuxa8G.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":99,"name":"Documentary"}],"homepage":"","id":330068,"imdb_id":"tt5434972","original_language":"en","original_title":"Fastball","overview":"Since
        1912, baseball has been a game obsessed with statistics and speed. Thrown
        at upwards of 100 miles per hour, a fastball moves too quickly for human cognition
        and accelerates into the realm of intuition. Fastball is a look at how the
        game at its highest levels of achievement transcends logic and even skill,
        becoming the primal struggle for man to control the uncontrollable.","popularity":7.287,"poster_path":"/v0PI2XUPrse8pNhu2MWlul6u1S7.jpg","production_companies":[{"id":923,"logo_path":"/8M99Dkt23MjQMTTWukq4m5XsEuo.png","name":"Legendary
        Pictures","origin_country":"US"},{"id":62472,"logo_path":null,"name":"Hock
        Films","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2016-03-25","revenue":0,"runtime":87,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Fastball","video":false,"vote_average":7.2,"vote_count":43}'
  recorded_at: Tue, 12 Dec 2023 18:37:21 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/330068/credits
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjJkMDg0ZTBiMjJlNGNhZTZiYTUwNTA4YzU2MmUwNyIsInN1YiI6IjY1NjRkZWNlZDk1NTRiMDEzYWYyZjIwMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.F15rqbrDY3vz4g1F9BHHdPGdyOjkGfBpjuf4w5E-dSY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ebd33e307e5b175fa745f70cea089920
      X-Memc-Age:
      - '6064'
      X-Memc-Expires:
      - '16886'
      Etag:
      - W/"b4fa927f2a6ab82f7d0f7b70945184c1"
    body:
      encoding: ASCII-8BIT
      string: '{"id":330068,"cast":[{"adult":false,"gender":2,"id":1269,"known_for_department":"Acting","name":"Kevin
        Costner","original_name":"Kevin Costner","popularity":67.042,"profile_path":"/608blZipRDZkDpzp8VItB64qMaT.jpg","cast_id":1,"character":"Narrator","credit_id":"56c61a0ec3a3680d41003800","order":0},{"adult":false,"gender":2,"id":1219050,"known_for_department":"Acting","name":"Hank
        Aaron","original_name":"Hank Aaron","popularity":2.071,"profile_path":"/nxwkA89oLA3N6SvvMUwUFGVCZY0.jpg","cast_id":2,"character":"Self
        (archive footage)","credit_id":"56f5d18dc3a3686a5e000d07","order":1},{"adult":false,"gender":2,"id":1596331,"known_for_department":"Acting","name":"Nolan
        Ryan","original_name":"Nolan Ryan","popularity":0.6,"profile_path":null,"cast_id":3,"character":"Sel[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/330068/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjJkMDg0ZTBiMjJlNGNhZTZiYTUwNTA4YzU2MmUwNyIsInN1YiI6IjY1NjRkZWNlZDk1NTRiMDEzYWYyZjIwMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.F15rqbrDY3vz4g1F9BHHdPGdyOjkGfBpjuf4w5E-dSY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 138e048d065a91f26eabdfab789f742c
      X-Memc-Age:
      - '4586'
      X-Memc-Expires:
      - '18239'
      Etag:
      - W/"3b796a67694707f2c12cacf3ce981616"
    body:
      encoding: ASCII-8BIT
      string: '{"id":330068,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 12 Dec 2023 18:42:39 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/330068/reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0NjJkMDg0ZTBiMjJlNGNhZTZiYTUwNTA4YzU2MmUwNyIsInN1YiI6IjY1NjRkZWNlZDk1NTRiMDEzYWYyZjIwMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.F15rqbrDY3vz4g1F9BHHdPGdyOjkGfBpjuf4w5E-dSY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 138e048d065a91f26eabdfab789f742c
      X-Memc-Age:
      - '10471'
      X-Memc-Expires:
      - '18208'
      Etag:
      - W/"3b796a67694707f2c12cacf3ce981616"
    body:
      encoding: ASCII-8BIT
      string: '{"id":330068,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Tue, 12 Dec 2023 23:02:46 GMT
recorded_with: VCR 6.2.0
